<section class="aboutComp py-5">
  <div class="container py-5">
    <div class="aboutContent text-white text-center">
      <h1 class="text-uppercase fw-bold">about component</h1>
      <div class="starIconDiv mb-2">
        <span class="starIcon"><i class="fa-solid fa-star"></i></span>
      </div>

      <div class="row text-start">
        <div class="col-12 col-md-6">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>

        <div class="col-12 col-md-6">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
      </div>
    </div>
  </div>
</section>
