<footer class="py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-sm-4">
        <div class="locationSection">
          <h3 class="text-uppercase">Location</h3>
          <p>2215 John Daniel Drive</p>
          <p class="mb-0">Clark, MO 65243</p>
        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="socialMediaSection">
          <h3 class="text-uppercase">AROUND THE WEB</h3>
          <div class="footerIcons d-flex justify-content-center gap-3">
            <span class="border border-1"><i class="fa-brands fa-facebook"></i></span>
            <span class="border border-1"><i class="fa-brands fa-x-twitter"></i></span>
            <span class="border border-1"><i class="fa-brands fa-linkedin-in"></i></span>
            <span class="border border-1"><i class="fa-solid fa-globe"></i></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="aboutSection">
          <h3 class="text-uppercase">ABOUT FREELANCER</h3>
          <p class="mb-0">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<section>
  <div class="copyrights py-4">
    <p class="text-center mb-0">Copyright © Your Website 2021</p>
  </div>
</section>
